@import url(https://fonts.googleapis.com/css?family=Kanit:200,600,400&subset=thai,latin);
body{
	text-align: center;
	background-color: #fafafa;
	color: #333;
	font-family: 'kanit',sans-serif;
	margin-top: 200px; 
}
.logo{
	max-width: 781px;
	width: 70%;
 	background: linear-gradient(270deg, #0075f8, #54f800, #f8d200, #f80200, #f800e4, #f80200, #f8d200, #54f800, #0075f8);
	background-size: 1000% 1000%;

	-webkit-animation: mmnimate 60s ease infinite;
	-moz-animation: mmnimate 60s ease infinite;
	animation: mmnimate 60s ease infinite;
}
.welcome{
	font-size:1.2em;
	margin-bottom:50px;
}
.enterid{
	margin-top:70px;
	font-size: 0.9em;
}
.welcome,.enterid,h1{
	font-family: Helvetica;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .1875em;
}
h1{
	font-size: 2em;
}
.text{
	font-size: 1.4em;
    font-weight: 200;
    letter-spacing: .1875em;
}
.name{
	font-size: 2.9em;
	font-weight: 400;
	margin: 20px;
}
.nickname{
	font-size: 2.2em;
	margin:20px;
}
input[type="text"]{
	padding: 15px;
	font-size: 2.5em;
	margin: 15px;
	width: 30%;
	text-align: center;
	border: 0;
	border-bottom: dotted;
	background-color: transparent;
}
@-webkit-keyframes mmnimate {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes mmnimate {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes mmnimate {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.button{
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 14px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
		user-select: none;
		margin:25px;
}
.red{
    color: #ffffff;
    background-color: #dd4814;
    border-color: #dd4814;
}
.red:hover{
  background-color: #ae3910;
  border-color: #a5360f;
}
.red:focus{
	background-color: #8d2e0d;
	border-color: #682209;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}