doctype html
html(lang="en")
	head
		include ./head.jade 
	body
		div
			div.welcome Welcome to
			img.logo(src='/img/logo.png')
			div.enterid enter your student ID
			form(method="post",action="/profile", name="profile")
				input(type='text', name='std_id', autocomplete="off")
