doctype html
html(lang="en")
	head
		include ./head.jade 
	body
		div
			h1 BYENIOR CPSK 2016
			form(method="post",action="/profile", name="profile")
				input(type='text', name='std_id')
				input(type='submit', value='Submit')
