doctype html
html(lang="en")
	head
		include ./head.jade 
	body
		div
			h1 ปี
			button(onclick="location.href = './register/1';") 1
			button(onclick="location.href = './register/2';") 2
			button(onclick="location.href = './register/3';") 3
