doctype html
html(lang="en")
	head
		include ./head.jade 
	body
		div
			h2 Welcome to
			h1.logo CPSK BYENIOR 2016
			h2 Enter your student ID
			form(method="post",action="/profile", name="profile")
				input(type='text', name='std_id')
