doctype html
html(lang="en")
	head
		include ./head.jade
	body
		div
			span Is that you?
			h2= std_name
			div
				= std_nickname + ' '  
				= std_study
			form(method="POST", action='/finish', name='confirm')
				input(type='hidden', name='name', value=std_id)
				input.button.green(type='submit', value='Yes')
			button.button.red(onclick="location.href = '../';") No
