doctype html
html(lang="en")
	head
		//meta(http-equiv="refresh",content="5;url=./index.html")		
		include ./head.jade
	body
		div
			div
				h1= std_id
			div
				h1 name
				span ได้ลงทะเบียนเข้างานเรียบร้อยแล้ว!
