doctype html
html(lang="en")
	head
		//meta(http-equiv="refresh",content="5;url=./index.html")		
		include ./head.jade
	body
		div
			div
				h1= std_id
			div
				h1= std_name
			form(method="POST", action='/finish', name='confirm')
				input(type='hidden', name='name', value=std_id)
				input(type='submit', value='confirm')
			button(onclick="location.href = '../';") cancel
